[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vendor/zig-opengl"]
	path = vendor/zig-opengl
	url = git@github.com:akeuben/zig-opengl.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
